{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'Home/main.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snippet Generator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body id="letsee">
    

    <form method="POST">
        {% csrf_token %}
        <div class="outer1">

            <div class="outer1-box1">
                <h2>
                    Snippet Generator
                </h2>

            </div>
            <div class="outer1-box2">

                <p>Made by Abhishek Gawali</p>

            </div>

        </div>

        <div class="outer2">

            <div class="outer2-box1">

                <div class="tab-trigger">

                    <div class="description">
                        <input class="left-upper" type="text" name="description" placeholder="{{List.Description}}"> </input>
                    </div>

                    <div class="tag">
                        <input class="left-upper" type="text" name="tag" placeholder="{{List.tag}}"> </input>
                    </div>


                </div>
                <div class="snippet">

                    <textarea  class="left-textarea" name="code" placeholder="{{List.code}}"></textarea>

                </div>

            </div>


            <div class="outer2-box2">

                <div class="buttons">
                    <input class="myradio"  type="radio" id="vscode" name="radiobtn" checked="checked" value="vscode" >
                    <label for="vscode">VS Code</label>
                    <input class="myradio"  type="radio" id="sublimetext" name="radiobtn" value="sublimetext">
                    <label for="sublimetext">Sublime Text</label>
                    <input class="myradio"  type="radio" id="atom" name="radiobtn" value="atom">
                    <label for="atom">Atom</label>
                </div>

                <div class="right-textarea">

                    <textarea  class="codesnippet" name="codesnippet" placeholder= "{{ List.text }}" ></textarea>

                    <input class="Submit-form" type="submit">

                </div>

                
            </div>


        </div>

        </div>
        
        
    </form>
</body>

</html>