

html,body{
    height: 100%;
    box-sizing: border-box;
}

body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #696969;
}

.outer1{
    display: flex;
    flex-direction: row;
}

.outer1-box1{
    margin-top:10px;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    flex: 1;
}

.outer1-box2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    flex: 1;
    text-align: end;
    margin: 20px;
}

.outer2{
    display: flex;
    background-color: 	#606060;
    height: 850px;

}


.outer2-box1{
    flex: 1;
    /* display: flex; */
    flex-direction: row;
    background-color: #E0E0E0;
    
}

.tab-trigger
{
    display: flex;
}

.description{
    flex: 1;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.tag{
    overflow: hidden ;
    flex:1;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 10px;

}

input{
    width: 100%;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.outer2-box2{
    margin-left: 8px;
    background-color: #E0E0E0;
    flex: 1;
}